.vscode/
.bloop/
.metals/
project/.bloop/
metals.sbt

*.class
*.log
*.swp

# sbt specific
.bsp
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea


src/sbt-test/sbt-buf/simple/src/main/scala